body {
    background-color: white;
}

footer
{
    background-color: black;
    color: white;
    padding: 8px;
}

.name-header
{
    background-color: beige;
    border: 4px;
    border-color: lightcoral;
    border-style: solid;
    padding: 8px;
}

.projects
{
    background-color: gray;
}