nav
{
    padding: 16px;
}

html, body {
    height: 100%;
}

body 
{
    background-color: white;
    /*overflow-x: hidden;*/
    margin: 0;
}

.topnav a
{
    padding: 5px 10px;
    color: white;
    background-color: black;
    border: 2px solid white;
}

.topnav .active
{
    background-color: red;
    border: 2px solid white;
}

footer
{
    background: rgba(0 0 0 / 0.6);
    color: gray;
    padding: 8px;
    width: 100%;
    background-size: cover;
    padding: 10px;
    margin: 30px 0 0 -10px;
}

.name-header
{
    text-align: center;
    background-color: beige;

    border: 4px;
    border-color: lightcoral;
    border-style: solid;
    border-radius: 20px;

    padding: 8px;

    margin: 0 auto;
    width: 50%
}

.name-header p
{
    font-size: 1.5em;
}

a {
    color: #bcaa96;
}
a:hover
{
    color: gray;
    text-decoration: none;
}

footer a
{
    color: #bcaa96;
}

footer a:hover
{
    color: darkgray;
    text-decoration: none;
}

.bttn
{
    background: #3c8453;
    color: #f6f6f6;
    text-decoration: none;

    border-radius: 8px;
}

.socials
{
    list-style-type: none;
    padding: 0;
}

.socials li
{
    display: inline-block;
}

.socials img
{
    width: 64px;

}

.content-wrapper
{
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px;
}

/*
=============
HOME
=============
*/

.home {
    background : url("../images/nightsky.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.home .intro
{
    background: rgb(255 255 255 / 0.5);
    color: black;
}

.home .content-wrapper .indent
{
    padding: 2px 0px 8px 8px;
}



/* 
================
RESUME
================
*/

.resume
{
    background: url("../images/nightsky.jpg");
    background-size: cover;
    background-attachment: fixed;}

.resume .download-link
{
    position: fixed;
    top: 5px;
    right: 5px;

    padding: 2px 5px;
    border-radius: 10px;
    
    background: #3c8453;
    border: 2px solid white;
    color: black;
    text-decoration: none;
}

.resume .content-wrapper > section
{
    background: blue;
    background: rgb(100 50 200 / 0.8);
    
    border: 2px solid white;
    padding: 0px 25px;
    border-radius: 20px;
    
    padding: 2px 0px 8px 8px;

    margin: 2.5% 20% 2.5% 20%;
    color: white;
}


/* PROFILE */
/* .resume .profile
{
    background: gray;

    border-radius: 10px;

    padding: 2px 0px 8px 8px;

}
*/

/* PROJECTS */
/*.resume .projects
{
    background-color: gray;

    border-radius: 10px;

    padding: 2px 0px 8px 8px;
}*/

.project-item
{
    display: flow-root;
    margin: 30px 0;
}

.project-item img
{
    width: 300px;
    float: left;
    margin-right: 20px;
}

/*.resume .education
{
    background-color: gray;
        
    border-radius: 10px;
        
    padding: 2px 0px 8px 8px;
}*/

/*.resume .workexperience
{
    background-color: gray;
        
    border-radius: 10px;
        
    padding: 2px 0px 8px 8px;
}*/